<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
    <link rel="stylesheet" type="text/css" href= "{{url_for('static',filename='./members/style.css')}}">
    <link rel="stylesheet" type="text/css" href= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href= "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
<section id="team" class="team content-section">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h2>My team member</h2>
          <h3 class="caption gray">Meet the people who make awesome stuffs</h3>
        </div>

        <div class="container">
          <div class="row">

            <div class="col-md-6">
              <div class="team-member">
                <figure>
                  <img src= "{{url_for('static',filename='./members/imgs/VMT.jpg')}}" class="img-responsive">
                  <figcaption>
                    <p>Minhtantantantantantantantantantan</p>
                    <ul>
                      <li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
                      <li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
                      <li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
                    </ul>
                  </figcaption>
                </figure>
                <h4>Minh Tan Vo</h4>
                <p>CCCCCCCCCCCCCCCCCCCCCCC</p>
              </div>
            </div>

            <div class="col-md-6">
              <div class="team-member">
                <figure>
                  <img src= "{{url_for('static',filename='./members/imgs/NQT.jpg')}}" class="img-responsive">
                  <figcaption>
                    <p>Quocthaithaithaithaithaithaithaithai</p>
                    <ul>
                      <li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
                      <li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
                      <li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
                    </ul>
                  </figcaption>
                </figure>
                <h4>Quoc Thai Nguyen</h4>
                <p>LLLLLLLLLLLLLLLLLLLLLLLL</p>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>
</body>
</html>